<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Wunderlust Company Pvt. Ltd.</div>
        <div class="f-oth-info">
            <a href="/allLists/privacy">Privacy</a>
            <a href="/allLists/terms">Terms</a>
        </div>
    </div>
</footer>