<nav>
  <div class="nav-container">
    <div class="logo">
      <a class="navbar-brand" href="/allLists"><i class="fa-brands fa-airbnb"></i>airbnb</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass" id="searchBtn"></i>
      <input type="text" id="searchInput" placeholder="Search Here by Location">
    </div>

    <div class="hamB" id="hamB">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link nw" href="/allLists/new">
          <i class="fa-solid fa-plus"></i>
          <span class="nw-text">Create New</span>
        </a>
      </div>

      <% if(!currUser) { %>
        <div class="navbar-nav"></div>
          <a class="nav-link sn" href="/signup">Signup</a>
          <a class="nav-link" href="/login">Login</a>
        </div>
        <% } %>
        <% if(currUser) { %>
        <div class="navbar-nav">
          <form action="/logout" method="post" style="display: inline;">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>