nav {
    height: 70px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}

.nav-container {
    height: 100%;
    width: 85%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: fit-content;
    display: flex;
    align-items: center;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2.3rem;
    font-weight: 600;
}

.nav-container .navbar-brand {
    width: auto;
    color: #fe424d;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center; 
}

.search-box {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box i {
    display: none;
    font-size: 1.1rem;
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fe424d;
    position: absolute;
    top: 0.9rem;
    right: 4.5rem;
}

.search-box i:active {
    background-color: #ff1c2b;
}

.search-box input {
    height: 3.1rem;
    width: 27rem;
    border: none;
    text-align: center;
    border-radius: 30px;
    border: 2px solid rgb(169, 169, 169);
}

.search-box input:focus {
    border: 2px solid black;
}

.hamB {
    width: 115px;
    display: none;
    color: black;
    cursor: pointer;
    text-align: end;
    font-size: 2rem;
}

#navbarNav {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-nav .nw {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe424d;
    border-radius: 50%;
}

.nw-text {
    display: none;
}

.navbar-nav .nw:hover {
    background-color: #ff1c2b;
}

.nav-link .nw i {
    color: white;
    font-weight: 700;
}

.nav-link {
    width: 5rem;
    height: 2.4rem;
    color: white;
    background-color: #fe424d;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    background-color: #ff1c2b;
}

.sn {
    margin-right: 0.5rem;
}

.nav-link {
    color: black !important;
}

@media only screen and (max-width: 1300px) {
    .nav-container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .search-box {
        width: 17rem;
    }
}

@media only screen and (max-width: 720px) {
    #navbarNav {
        /* height: 60px; */
        display: none;
        width: 150px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 0;
        position: absolute;
        top: 4.5rem;
        right: 2rem;
        z-index: 1;
    }

    #navbarNav.show {
        display: flex;
    }

    .navbar-nav .nw {
        height: auto;
        width: 7rem;
        border-radius: 30px;
    }

    .hamB {
        display: block;
    }

    .navbar-nav .nw i {
        display: none;
    }

    .navbar-nav .nw-text {
        display: inline !important;
        color: black;
    }

    .nw-text {
        font-size: 1rem;
        font-weight: 400;
        display: block;
    }

    .sn {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
    .search-box input {
        display: none;
        width: 18rem;
        height: 2.8rem;
        position: absolute;
        top: 3.8rem;
        left: 3.2rem;
    }

    .search-box input.show-search {
        display: block;
    }

    .search-box i {
        display: flex;
    }

    #navbarNav {
        right: 1.5rem;
    }

    .hamB {
        margin-right: 0.3rem;
    }
}
